PROJECT_NAME='Migration'
LOGS_DIR=logs

# OpenProject
OPENPROJECT_URL='https://url.openproject.com'
OPENPROJECT_API_AUTH='Basic ********'
OPENPROJECT_PATH_PROJECTS='/api/v3/projects/'
OPENPROJECT_PATH_USERS='/api/v3/users/'

# Plane
PLANE_URL='http://url.plane.so'
PLANE_API_KEY='plane_api_******'
PLANE_PATH_PROJECTS='/api/v1/workspaces/development/projects/'
PLANE_PATH_USERS='/api/v1/workspaces/development/projects/{PROJECT_ID}/members/'