[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
colorama = "*"
python-dotenv = "*"
bullet = "*"

[dev-packages]

[requires]
python_version = "3.13"
